@page
@model AppSec__practicalAssignment_.Pages.ChangePasswordModel
@{
    ViewData["Title"] = "Change Password ";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h2>Change Password</h2>
            <form method="post">
                <div asp-validation-summary="All" class="text-danger"></div>

                <div class="mb-3 form-group">
                    <label asp-for="PassChangeModel.OldPassword">Current Password</label>
                    <input type="password" asp-for="PassChangeModel.OldPassword" class="form-control" />
                    <span asp-validation-for="PassChangeModel.OldPassword" class="text-danger"></span>
                </div>

                <div class="mb-3 form-group">
                    <label asp-for="PassChangeModel.NewPassword">New Password</label>
                    <input type="password" asp-for="PassChangeModel.NewPassword" class="form-control" />
                    <span asp-validation-for="PassChangeModel.NewPassword" class="text-danger"></span>
                </div>
                    
                <div class="mb-3 form-group">
                    <label asp-for="PassChangeModel.ConfirmPassword">Confirm New Password</label>
                    <input type="password" asp-for="PassChangeModel.ConfirmPassword" class="form-control" />
                    <span asp-validation-for="PassChangeModel.ConfirmPassword" class="text-danger"></span>
                </div>

                <button class="mb-3 btn btn-primary" type="submit">Change Password</button>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}